@import "tailwindcss";

@font-face {
  font-family: "Formula1Wide";
  src: url("./assets/fonts/Formula1-Wide.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formula1Regular";
  src: url("./assets/fonts/Formula1-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formula1Bold";
  src: url("./assets/fonts/Formula1-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Add others as needed */
/* ✨ CSS-first custom theme values */
@theme {


  --font-fwide: "Formula1Wide", sans-serif;
  --font-fregular: "Formula1Regular", sans-serif;
  --font-fbold: "Formula1Bold", sans-serif;

  /* F1 Brand color */
  --color-f1-red: #FF1E00;
  --color-f1-black: #15151E;
  --color-f1-offwhite: #F7F4F1;
  --color-f1-white: #FFFFFF;
  --color-f1-gray-30: #2C2C34;
  --color-f1-gray-50: #5B5B61;
  --color-f1-gray-70: #89898E;
  --color-f1-gray-90: #B8B8BB;

  /* Team color */
  --color-team-mercedes: #00D2BE;
  --color-team-redbull: #1E41FF;
  --color-team-ferrari: #DC0000;
  --color-team-mclaren: #FF8700;
  --color-team-astonmartin: #006F62;
  --color-team-alpine: #0090FF;
  --color-team-williams: #005AFF;
  --color-team-sauber: #01C00E;
  --color-team-haas: #B6BABD;
  --color-team-racingbull: #6C98FF;
}