@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* Add others as needed */
/* ✨ CSS-first custom theme values */
:root {


  --font-formula1wide: "Formula1Wide", sans-serif;
  --font-formula1regular: "Formula1Regular", sans-serif;
  --font-formula1bold: "Formula1Bold", sans-serif;

  /* F1 Brand Colors */
  --colors-f1-red: #FF1E00;
  --colors-f1-black: #15151E;
  --colors-f1-offwhite: #F7F4F1;
  --colors-f1-white: #FFFFFF;
  --colors-f1-gray-30: #2C2C34;
  --colors-f1-gray-50: #5B5B61;
  --colors-f1-gray-70: #89898E;
  --colors-f1-gray-90: #B8B8BB;

  /* Team Colors */
  --colors-team-mercedes: #00D2BE;
  --colors-team-redbull: #1E41FF;
  --colors-team-ferrari: #DC0000;
  --colors-team-mclaren: #FF8700;
  --colors-team-astonmartin: #006F62;
  --colors-team-alpine: #0090FF;
  --colors-team-williams: #005AFF;
  --colors-team-alfa: #900000;
  --colors-team-haas: #B6BABD;
}